@mixin badge-variant($bg, $color, $hover-bg) {
  color: $color;
  background-color: $bg;

  @at-root a#{&} {
    &:hover,
    &:focus {
        color: $color;
        background-color: $hover-bg;
    }

    &:focus,
    &.focus {
      outline: 0;
      box-shadow: 0 0 0 .2rem $bg;
    }
  }
}
