// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $color, $hover-background, $hover-border, $hover-color, $active-background, $active-border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  box-shadow: inset 0 1px 0 rgba(#ffffff, .15), 0 1px 1px rgba(#000000, .075);

  &:hover {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-border;

    box-shadow: inset 0 1px 0 rgba(#ffffff, .15), 0 1px 1px rgba(#000000, .075); //, 0 0 0 .2rem rgba($color, .5);
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $color;
    background-color: $background;
    border-color: $border;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $hover-color;
    background-color: $active-background;
    border-color: $active-border;

    &:focus {
      box-shadow: inset 0 1px 0 rgba(#ffffff, .15), 0 1px 1px rgba(#000000, .075); //, 0 0 0 .2rem rgba($color, .5);
    }
  }
}

@mixin button-outline-variant($color, $color-hover) {
  color: $color;
  border-color: $color;

  &:hover {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus,
  &.focus {
    @apply shadow;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $color-hover;
    background-color: $color;
    border-color: $color;

    &:focus {
      @apply shadow;
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}
