//
// Base styles
//

.alert {
  @apply relative py-3 px-5 mb-4 border border-transparent rounded;
}

// Headings for larger alerts
.alert-heading {
  @apply text-inherit;
}

// Provide class for links that match alerts
.alert-link {
  @apply font-bold;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  @apply pr-16;

  .close {
    @apply absolute top-0 right-0 py-3 px-5 text-inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

// @each $color, $value in $theme-colors {
//   .alert-#{$color} {
//     @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
//   }
// }
