// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  @apply inline-block py-1 px-2 font-bold leading-none text-center whitespace-no-wrap align-baseline rounded;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-size: 75%;

  // Empty badges collapse automatically
  &:empty {
    @apply hidden;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  @apply relative;
  top: -1px;
}


.badge-pill {
  @apply px-3 rounded-full;
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

// @each $color, $value in $theme-colors {
//   .badge-#{$color} {
//     @include badge-variant($value);
//   }
// }
