.breadcrumb {
  @apply flex flex-wrap py-3 px-4 mb-4 bg-gray-200 rounded;
  // list-style: none;
}

.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {

    &::before {
      @apply inline-block px-2 text-gray-600;
      content: quote("/");
    }
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    @apply underline;
  }
  // stylelint-disable-next-line no-duplicate-selectors
  + .breadcrumb-item:hover::before {
    @apply no-underline;
  }

  &.active {
    @apply text-gray-600;
  }
}
