// stylelint-disable selector-no-qualifying-type

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
  @apply relative inline-flex align-middle;

  > .btn {
    @apply relative flex-initial;

    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    // @include hover {
    //   z-index: 1;
    // }
    &:hover,
    &:focus,
    &:active,
    &.active {
      @apply z-1;
    }
  }

  // Prevent double borders when buttons are next to each other
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    @apply -ml-px;
  }
}

// Optional: Group multiple button groups together for a toolbar
.btn-toolbar {
  @apply flex flex-wrap justify-start;

  .input-group {
    @apply w-auto;
  }
}

.btn-group {
  > .btn:first-child {
    @apply ml-0;
  }

  // Reset rounded corners
  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @apply rounded-r-none;
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @apply rounded-l-none;
  }
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.btn-group-sm > .btn { @extend .btn-sm; }
.btn-group-lg > .btn { @extend .btn-lg; }


//
// Split button dropdowns
//

.dropdown-toggle-split {
  @apply px-2;

  &::after {
    @apply ml-0;
  }
}

.btn-sm + .dropdown-toggle-split {
 @apply px-1-5;
}

.btn-lg + .dropdown-toggle-split {
  @apply px-3;
}


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.btn-group.show .dropdown-toggle {
  @apply shadow-active;

  // Show no shadow for `.btn-link` since it has no other button styles.
  &.btn-link {
    @apply shadow-none;
  }
}


//
// Vertical button groups
//

.btn-group-vertical {
  @apply flex-col items-start justify-center;

  .btn,
  .btn-group {
    @apply w-full;
  }

  > .btn + .btn,
  > .btn + .btn-group,
  > .btn-group + .btn,
  > .btn-group + .btn-group {
    @apply ml-0 -mt-px;
  }

  // Reset rounded corners
  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @apply rounded-b-none;
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @apply rounded-t-none;
  }
}


// Checkbox and radio options
//
// In order to support the browser's form validation feedback, powered by the
// `required` attribute, we have to "hide" the inputs via `clip`. We cannot use
// `display: none;` or `visibility: hidden;` as that also hides the popover.
// Simply visually hiding the inputs via `opacity` would leave them clickable in
// certain cases which is prevented by using `clip` and `pointer-events`.
// This way, we ensure a DOM element is visible to position the popover from.
//
// See https://github.com/twbs/bootstrap/pull/12794 and
// https://github.com/twbs/bootstrap/pull/14559 for more information.

.btn-group-toggle {
  > .btn,
  > .btn-group > .btn {
    @apply mb-0;

    input[type="radio"],
    input[type="checkbox"] {
      @apply absolute pointer-events-none;
      clip: rect(0, 0, 0, 0);
    }
  }
}
