// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  @apply inline-block font-sans font-normal text-gray-900 text-center align-middle select-none bg-transparent border border-transparent;

  @include button-size(theme('padding.1-5'), theme('padding.3'), theme('fontSize.base'), theme('leading.normal'), theme('borderRadius.default'));
  @include transition($btn-transition);

  &:hover {
    @apply text-gray-900 no-underline;
  }

  &:focus,
  &.focus {
    @apply outline-none shadow-focus;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @apply opacity-65 shadow-none cursor-not-allowed;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @apply shadow-active;

    &:focus {
      @apply shadow-active-focus;
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  @apply pointer-events-none;
}


//
// Alternate buttons
//

// @each $color, $value in $theme-colors {
//   .btn-#{$color} {
//     @include button-variant($value, $value);
//   }
// }

// @each $color, $value in $theme-colors {
//   .btn-outline-#{$color} {
//     @include button-outline-variant($value);
//   }
// }


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  @apply font-normal text-blue-500 no-underline;

  &:hover {
    @apply text-blue-700 underline;
  }

  &:focus,
  &.focus {
    @apply underline shadow-none;
  }

  &:disabled,
  &.disabled {
    @apply text-gray-600 pointer-events-none;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-lg {
  @include button-size(theme('padding.2'), theme('padding.4'), theme('fontSize.lg'), theme('leading.normal'), theme('borderRadius.md'));
}

.btn-sm {
  @include button-size(theme('padding.1'), theme('padding.2'), theme('fontSize.sm'), theme('leading.normal'), theme('borderRadius.default'));
}


//
// Block button
//

.btn-block {
  @apply block w-full;

  // Vertically space out multiple block buttons
  + .btn-block {
    @apply mt-2;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    @apply w-full;
  }
}
