// Notes on the classes:
//
// 1. .carousel.pointer-event should ideally be pan-y (to allow for users to scroll vertically)
//    even when their scroll action started on a carousel, but for compatibility (with Firefox)
//    we're preventing all actions instead
// 2. The .carousel-item-left and .carousel-item-right is used to indicate where
//    the active slide is heading.
// 3. .active.carousel-item is the current slide.
// 4. .active.carousel-item-left and .active.carousel-item-right is the current
//    slide in its in-transition state. Only one of these occurs at a time.
// 5. .carousel-item-next.carousel-item-left and .carousel-item-prev.carousel-item-right
//    is the upcoming slide in transition.

.carousel {
  @apply relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  @apply relative w-full overflow-hidden;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.carousel-item {
  @apply relative hidden float-left w-full -mr-full;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  @apply block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}


//
// Alternate transitions
//

.carousel-fade {
  .carousel-item {
    @apply opacity-0;
    transition-property: opacity;
    transform: none;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    @apply z-1 opacity-100;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    @apply z-0 opacity-0;
    transition: 0s .6s opacity;
  }
}


//
// Left/right controls for nav
//

.carousel-control-prev,
.carousel-control-next {
  @apply absolute top-0 bottom-0 z-1 flex items-center justify-center w-3/20 text-white text-center opacity-50;
  transition: opacity .15s ease;

  // Hover/focus state
  &:hover,
  &:focus {
    @apply text-white no-underline outline-none opacity-90;
  }
}
.carousel-control-prev {
  @apply left-0;
}
.carousel-control-next {
  @apply right-0;
}

// Icons for within
.carousel-control-prev-icon,
.carousel-control-next-icon {
  @apply inline-block w-3/20 h-3/20;
  background: no-repeat 50% / 100% 100%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}


// Optional indicator pips
//
// Add an ordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  @apply absolute right-0 bottom-0 left-0 z-15 flex justify-center pl-0;
  // Use the .carousel-control's width as margin so we don't overlay those
  margin-right: $carousel-control-width;
  margin-left: $carousel-control-width;
  list-style: none;

  li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    margin-right: $carousel-indicator-spacer;
    margin-left: $carousel-indicator-spacer;
    text-indent: -999px;
    cursor: pointer;
    background-color: $carousel-indicator-active-bg;
    background-clip: padding-box;
    // Use transparent borders to increase the hit area by 10px on top and bottom.
    border-top: $carousel-indicator-hit-area-height solid transparent;
    border-bottom: $carousel-indicator-hit-area-height solid transparent;
    opacity: .5;
    @include transition($carousel-indicator-transition);
  }

  .active {
    @apply opacity-100;
  }
}


// Optional captions
//
//

.carousel-caption {
  @apply absolute right-3/20 left-3/20 z-10 text-white text-center py-20px bottom-20px;
}
