/*!
 * Tailstrap, a version of Bootstrap using Tailwind CSS
 *
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@tailwind base;

// Configuration

@import "functions";
@import "variables";
@import "mixins";
@import "utilities";


@tailwind components;

// Layout & components

// @import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";

.btn-primary {
    @include button-variant(theme('colors.blue.500'), theme('colors.blue.500'), #ffffff, theme('colors.blue.600'), theme('colors.blue.600'), #ffffff, theme('colors.blue.700'), theme('colors.blue.700'));
}

.btn-secondary {
    @include button-variant(theme('colors.gray.600'), theme('colors.gray.600'), #ffffff, theme('colors.gray.700'), theme('colors.gray.700'), #ffffff, theme('colors.gray.800'), theme('colors.gray.800'));
}

.btn-success {
    @include button-variant(theme('colors.green.500'), theme('colors.green.500'), #ffffff, theme('colors.green.600'), theme('colors.green.600'), #ffffff, theme('colors.green.700'), theme('colors.green.700'));
}

.btn-danger {
    @include button-variant(theme('colors.red.500'), theme('colors.red.500'), #ffffff, theme('colors.red.600'), theme('colors.red.600'), #ffffff, theme('colors.red.700'), theme('colors.red.700'));
}

.btn-warning {
    @include button-variant(theme('colors.yellow.500'), theme('colors.yellow.500'), theme('colors.gray.800'), theme('colors.yellow.600'), theme('colors.yellow.600'), theme('colors.gray.800'), theme('colors.yellow.700'), theme('colors.yellow.700'));
}

.btn-info {
    @include button-variant(theme('colors.indigo.500'), theme('colors.indigo.500'), #ffffff, theme('colors.indigo.600'), theme('colors.indigo.600'), #ffffff, theme('colors.indigo.700'), theme('colors.indigo.700'));
}

.btn-light {
    @include button-variant(theme('colors.gray.100'), theme('colors.gray.100'), theme('colors.gray.800'), theme('colors.gray.200'), theme('colors.gray.200'), theme('colors.gray.800'), theme('colors.gray.300'), theme('colors.gray.300'));
}

.btn-dark {
    @include button-variant(theme('colors.gray.700'), theme('colors.gray.700'), #ffffff, theme('colors.gray.800'), theme('colors.gray.800'), #ffffff, theme('colors.gray.900'), theme('colors.gray.900'));
}

.btn-outline-primary {
    @include button-outline-variant(theme('colors.blue.500'), #ffffff);
}

.btn-outline-secondary {
    @include button-outline-variant(theme('colors.gray.600'), #ffffff);
}

.btn-outline-success {
    @include button-outline-variant(theme('colors.green.500'), #ffffff);
}

.btn-outline-danger {
    @include button-outline-variant(theme('colors.red.500'), #ffffff);
}

.btn-outline-warning {
    @include button-outline-variant(theme('colors.yellow.500'), theme('colors.gray.800'));
}

.btn-outline-info {
    @include button-outline-variant(theme('colors.indigo.500'), #ffffff);
}

.btn-outline-light {
    @include button-outline-variant(theme('colors.gray.100'), theme('colors.gray.800'));
}

.btn-outline-dark {
    @include button-outline-variant(theme('colors.gray.700'), #ffffff);
}



@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";

.badge-primary {
    @include badge-variant(theme('colors.blue.500'), #ffffff, theme('colors.blue.700'));
}

.badge-secondary {
    @include badge-variant(theme('colors.gray.700'), #ffffff, theme('colors.gray.900'));
}

.badge-success {
    @include badge-variant(theme('colors.green.500'), #ffffff, theme('colors.green.700'));
}

.badge-danger {
    @include badge-variant(theme('colors.red.500'), #ffffff, theme('colors.red.700'));
}

.badge-warning {
    @include badge-variant(theme('colors.yellow.500'), theme('color.gray.800'), theme('colors.yellow.700'));
}

.badge-info {
    @include badge-variant(theme('colors.indigo.500'), #ffffff, theme('colors.indigo.700'));
}

.badge-light {
    @include badge-variant(theme('colors.gray.200'), theme('colors.gray.800'), theme('colors.gray.300'));
}

.badge-dark {
    @include badge-variant(theme('colors.gray.700'), #ffffff, theme('colors.gray.900'));
}

@import "alert";

.alert-primary {
    @include alert-variant(theme('colors.blue.200'), theme('colors.blue.300'), theme('colors.blue.700'), theme('colors.blue.800'));
}

.alert-secondary {
    @include alert-variant(theme('colors.gray.200'), theme('colors.gray.300'), theme('colors.gray.700'), theme('colors.gray.800'));
}

.alert-success {
    @include alert-variant(theme('colors.green.200'), theme('colors.green.300'), theme('colors.green.700'), theme('colors.green.800'));
}

.alert-danger {
    @include alert-variant(theme('colors.red.200'), theme('colors.red.300'), theme('colors.red.700'), theme('colors.red.800'));
}

.alert-warning {
    @include alert-variant(theme('colors.yellow.200'), theme('colors.yellow.300'), theme('colors.yellow.700'), theme('colors.yellow.800'));
}

.alert-info {
    @include alert-variant(theme('colors.teal.200'), theme('colors.teal.300'), theme('colors.teal.700'), theme('colors.teal.800'));
}

.alert-light {
    @include alert-variant(theme('colors.gray.100'), theme('colors.gray.200'), theme('colors.gray.600'), theme('colors.gray.700'));
}

.alert-dark {
    @include alert-variant(theme('colors.gray.500'), theme('colors.gray.600'), theme('colors.gray.900'), #000000);
}

@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";


// Helpers

@import "helpers";


// Utilities

// @import "utilities/api";
@import "utilities/sizing";
@import "utilities/text";
@import "utilities/visibility";

@tailwind utilities;